<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
<%= image_tag @dog.avatar.url(:medium) %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed.try(:breed_name) %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner.try(:first_name) %>
  <%= @dog.owner.try(:last_name) %>
</p>

<p>
  <strong>Med cond:</strong>
  <%= @dog.med_cond %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @dog.vet %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @dog.dob %>
</p>



<%= link_to 'Owner', owner_path(@dog.owner_id) %>
<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
